@CHARSET "UTF-8";

.todo-item-table {
  margin-top: 20px;
}

.todo-item-table th.status {
  width: 6em;
  text-align: center;
}

.todo-item-table td.status {
  text-align: center;
}

.todo-item-table td.title .done {
  text-decoration: line-through;
}