@CHARSET "UTF-8";

.todo-item-table {
  margin-top: 20px;
}

.todo-item-table th.status, .todo-item-table td.status {
  width: 6em;
  text-align: center;
}

.todo-item-table th.title, .todo-item-table td.title{
  text-align: left;
}

.todo-item-table th.actions, .todo-item-table td.actions{
  width: 10em;
  text-align: center;
}

.todo-item-table td.title .done {
  text-decoration: line-through;
}